DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=resume_builder

HF_TOKEN=

_API_KEY=

HIREYO_SHARED_SECRET=super_secret_123456
HIREYO_BUILDER_URL=http://localhost:3000/integrations/hireyo
